<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Mon blog :)</h2>
        <p>Mis a jour : {{lastUpdate | async | date | uppercase}}</p>
        <ul class="list-group">
          <app-appareil *ngFor="let appareil of appareils"
                        [Title]="appareil.title"
                        [appareilName]="appareil.name"
                        [Status]="appareil.status"
                        [Post]="appareil.post"
                        [Number]="appareil.number"
                          ></app-appareil>
        </ul>
        <button class="btn btn-success" [disabled]="!isAuth"
                                        (click)="onAllumer()">Message dans la console</button>
      </div>
    </div>
</div>
